<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Daily Code Reading Challenge</title>
    {% endblock title %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2">
    <script src='{{ url_for("static", filename="jquery-3.5.1.slim.min.js") }}' integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"  defer></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" defer></script> 
</head>
<body>
    <header class='mb-3'>
    <nav class='navbar navbar-expand-lg navbar-light bg-light border-bottom'>
        <div class='container'>
        <a class='navbar-brand' href="{{ url_for('main.start') }}">
            <h1>Daily Code Reading Challenge</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'><a class='nav-link' href="{{ url_for('main.start') }}">Home</a></li>
                <li class='nav-item'><a class='nav-link' href="{{ url_for('communities.communities') }}">Communities</a></li>
                {% if current_user.is_authenticated %}
                {% block navbar %}
                <li class='nav-item'><a class='nav-link' href="{{ url_for('community.new_community') }}">New community</a></li>
                <li class='nav-item'><a class='nav-link' href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a></li>
                <li class='nav-item'><a class='nav-link' href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endblock navbar %}
                {% else %}
                <li class='nav-item'><a class='nav-link' href="{{ url_for('auth.register') }}">Register</a></li>
                <li class='nav-item'><a class='nav-link' href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </nav>
</header>
<section class='full-height'>
    <div class="container">
    {% if get_flashed_messages() %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    {% endfor %}
    {% endif %}
    {% block messages %}
    {% endblock messages %}
    {% block content %}
    {% endblock content %}
    </div>
</div>
</section>
<footer class="bg-light text-dark">
      <div class="container">
        <div class="row fifth-height">
          <div class="col-12 align-self-center text-center">
          </div>
        </div>
      </div>
    </footer>
</body>
</html>

