{% macro fields(field, remember=False, label=False) %}
    {% if label is false  %}
    {% set label = field.label %}
    {% endif %}

    {% if remember==True %}
    <div class='form-group'>
        {{ label }}
        {% if field.errors %}
        {{ field }}
        <div>
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ field }}
        {% endif %}
    </div>

    {% else %}
    <div class='form-group'>
        {{ label }}
        {% if field.errors %}
        {{ field(class='form-control is-invalid') }}
        <div>
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ field(class='form-control') }}
        {% endif %}
    </div>
    {% endif %}
{% endmacro  %}
